body {
  background-color: #61dafb;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
@media (max-width: 600px) {
  .popup {
    width: 80%; /* Adjust width for mobile */
    padding: 15px;
  }
}
.App {
  text-align: center;
  padding: 20px;
}

button {
  /* background-color: #61dafb; */
  background-color: #C2FFB5;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #21a1f1;
}